<div class="home">
    <section id="navbar">
        <div class="logo-group">
            <img src="/Logo.png" alt="Logo" class="circle-image">
            <h1 id="title">AlumniEngine</h1>
        </div>
        <div class="right_nav">
            <div class="navbar-elts">
                <a href="">HOME</a>
                <a href="#about">ABOUT US</a>
                <a href="">CONTACT</a>
            </div>
            <div class="button_grp">
                <button id="login_button">Log in</button>
                <button id="sign_button">Sign up</button>
            </div>
        </div>
    </section>

    <section id="heading">
        <div class="intro">
            <div class="intro_text">
                <h1 id="slogan">Networking at its <br> finest</h1>
                <h4>Mentorship, Internships, and More – Powered by Alumni.<br>Start connecting today—your future starts here!</h4>
                <h4 id="question">Are you an Enicarthage graduate or current student?</h4>
                <button id="join_button">Join us -></button>
            </div>
            <img src="/Logo_ENICarthage.jpg" alt="Enicarthage's Logo" class="logo-enicar">
        </div>
    </section>

    <section id="about">
        <h4>- About</h4>
        <h2 class="alumni">AlumniEngine</h2>
        <div class="about_Img_text">
        <p>AlumniEngine is a dedicated platform connecting alumni and current <br> students of Enicarthage. Our goal is to foster meaningful <br> mentorship, career networking, and professional growth within the <br> university community.Whether you're a student seeking guidance or<br> an alumni looking to give back, AlumniEngine makes networking<br> seamless and impactful.<br>
            Join today and tap into the power of your university network! </p>
        <div class="Images">
        <img src="/ClaspingHands.png" alt="Image of clasping hands" style="width:470px; height:340px;border-radius: 35px" class="clasping-hands-img">
        <img src="/review-stars.png" alt="Review Stars" style="border-radius: 20px" class="review-stars-img">
        </div>
        </div>
        <div class="join">
        <img src="/ready.png" class="ready-join-img">
        <button id="ready_join_button">Join Us</button>
        </div>
    </section>
</div>