<div class="home">
    <section id="navbar">
        <div class="logo-group">
            <img src="/Logo.png" alt="Logo" class="circle-image">
            <h1 id="title">AlumniEngine</h1>
        </div>
        <div class="right_nav">
            <div class="navbar-elts">
                <h2>HOME</h2>
                <h2>ABOUT US</h2>
                <h2>CONTACT</h2>
            </div>
            <div class="button_grp">
                <button id="login_button">Log in</button>
                <button id="sign_button">Sign up</button>
            </div>
        </div>
    </section>

    <section id="heading">
        <div class="intro_text">
            <h1 id="slogan">Networking at its <br> finest</h1>
            <h4>Mentorship, Internships, and More – Powered by Alumni.<br>Start connecting today—your future starts here!</h4>
            <h4>Are you an Enicarthage graduate or current student?</h4>
            <button id="join_button">Join us -></button>
        </div>
    </section>
</div>
